.Main-background {
    background-color: #f5f5f5;
    height: auto;
    width: 100%;
}
.header{
    height: 60px;
    background-color: #2f0452;
    font-size: 24px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
    letter-spacing: 0.8px;
    color: white;
}
.div1{
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 30px;
    padding-bottom: 25px;
    padding-top: 10px;
}
.div2 {
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
    margin: 15px 15px 10px 5px;
    padding: 5px;
}

.heading{
    font-weight: bold;
    font-size: 18px;
    color: rgb(34, 2, 59);
    padding: 15px 5px 5px 15px;
}

.text-btn {
    font-size: 14px;
    font-weight: bold;
}
.btn-showing-detail{
    color: white;
    background-color: #2f0452;
    margin-left: 20px;
    margin-top: 10px;
}

.model-information-div{
    border-radius: 10px;
    margin: 10px 15px 25px 25px;
    background-color: white;
}

.casualbike-detail-btn{
    color: white;
    background-color: #2f0452;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.empty-box{
    background-color: #2f0452;
    height: 20px;
    color: white;
}
.heat-map-plot{
    height: 500px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}
.rc-slider-track {
    background-color: #2f0452;
}

.rc-slider-dot-active {
    border-color: #2f0452;
    border: solid 2px #2f0452;
}

.rc-slider-handle {
    background-color: #2f0452;
    border-color: #2f0452;
}

.rc.slider-handle:hover {
    border-color: #2f0452;
}

.rc.slider-handle-active:active {
    border-color: red;
}

.predict-cnt-div{
    width: 75%;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #f5f5f5;
    border: 2px solid #2f0452;
    box-shadow: 5px 10px 8px #9e9e9e;
    background-color: #2f0452;
}

.box-plot-casual-regis-cnt{
    height: 500px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.distribution-col{
    height: 520px;
    margin: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.distribution-column{
    height: 540px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.Months-distribution{
    height: 500px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.Year-Months-weekday-distribution{
    height: 500px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.box-plot-graph{
    height: 500px;
    margin: 10px 15px 25px 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.scatter-plot-graph{
    height: 600px;
        margin: 10px 15px 25px 25px;
        background-color: rgb(97, 97, 97);
        border-radius: 10px;
}

.footer {
    background-color: #2f0452;
    width: 100%;
}

.list-items {
    padding: 1% 10%;
}

.list-items ul {
    padding-top: 2%;
    margin-left: 10%;
}

.list-items li a {
    list-style: none;
}

.list-items li {
    display: inline;
    padding: 4%;
}

.list-items a:hover {
    text-decoration: none;
    background-color: none;
}

.list-items img {
    width: 5%;
}

.list-items img:hover {
    background-color: white;
    border-radius: 50%;
}

.graph-3d-div{
        height: 500px;
            margin: 10px 15px 25px 25px;
            background-color: rgb(97, 97, 97);
            border-radius: 10px;
}